html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
}

#special {
  background-color: #697f87;
  background-image: url("kuvat/special-bg.png");
  background-repeat: repeat-x;
  padding: 1rem;
  background-position-y: bottom;
}

h1 {
  color: #aeb8c5;
}

.boldWithSpace {
  font-weight: bold;
  letter-spacing: 0.4rem;
  text-decoration: none;
  color: azure;
}

#wrapper {
  background: url("kuvat/grunge.png");
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 1rem;
  padding-left: 1rem;
}

.logo {
  width: min-content;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  display: flex;
  width: 20%;
  align-items: center;
  color: black;
}

nav ul li span {
  visibility: hidden;
}

.black-text {
  color: black;
}

#big {
  display: flex;
  flex-direction: column;
}

#main {
  padding: 1rem;
  box-sizing: border-box;
  float: right;
}

.bold {
  font-weight: 600;
}

#main a {
  color: #3ea3c4;
}

.kuva {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#sidebar {
  padding: 1rem;
}

#sidebar ul {
  column-count: 2;
  padding-bottom: 1rem;
  line-height: 1.5;
}

#sidebar h2 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

#sidebar ul li a {
  color: #3ca2c3;
}

#callout {
  background-color: #f9eacb;
  padding: 1.5rem;
  text-align: center;
  margin-block-end: 2rem;
}

footer {
  text-align: center;
  padding-bottom: 2rem;
}

footer h2 {
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 426px) {
  header {
    flex-direction: row;
    padding: 1rem;
  }
  nav {
    flex-grow: 1;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    width: 20%;
    color: black;
  }
}

@media screen and (min-width: 769px) {
  #big {
    flex-direction: row;
  }

  #main {
    width: 60%;
  }

  #sidebar {
    width: 40%;
  }

  nav ul li {
    flex-direction: column;
  }

  nav ul li span {
    visibility: visible;
  }
}
